<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">País</th>
            <th scope="col">Casos confirmados</th>
            <th scope="col">Mortes</th>
            <th scope="col">Marcar como favorito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataList">
            <td>{{ data.country }}</td>
            <td>{{ data.confirmed }}</td>
            <td>{{ data.deaths }}</td>
            <td><input type="checkbox" id="isFavorite"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>